@using Demo.WebApi.Application.Abstractions.Pagination;
@using Demo.WebApi.Core.Entities;
@using Demo.WebApi.ServiceHost.Views.Shared.Components;
@using Microsoft.OpenApi.Extensions;
@model PagedResult<ParkingSpot>
@{
    var title = "Parked vehicles";
    ViewData["Title"] = title;
}
<h2>@title</h2>
<div class="row">
    <div class="col-md-10">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Plate Number</th>
                    <th class="text-center">Vehicle</th>
                    <th class="text-center">Entry Date/Time</th>
                    <th class="text-center">Discount</th>
                    <th class="text-center">Rate<br />(Hourly/Daly) BNG</th>
                    <th class="text-center">Total<br />(Hours/BGN)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in Model.Results)
                {
                    <tr>
                        <td>@vehicle.Id</td>
                        <td>@vehicle.Plate</td>
                        <td>@vehicle.VehicleType.GetDisplayName()</td>
                        <td>@vehicle.EntryAt</td>
                        <td>@vehicle.DiscountType.GetDisplayName()</td>
                        <td>@vehicle.Rate.Hourly (BGN) / @vehicle.Rate.Daily (BGN)</td>
                        <td>@vehicle.TotalHours (h) / @vehicle.TotalMoney (BGN)</td>
                    </tr>
                }
            </tbody>
        </table>

        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</div>